@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap');

@import "tailwindcss";

body {
  background: black;
  color: white;
  font-family: 'Orbitron', sans-serif;
}